<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CFRs.DAL.DALSetting.EBAO_LS_ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.9.101.26)(PORT = 1521)))(CONNECT_DATA =(SID = lsncisdb)(SERVER = DEDICATED)));User ID=ebao_ls_prod_read;Password=password;" />
        <add name="CFRs.DAL.DALSetting.OSCConnectionString" connectionString="Data Source=SL-DEVFRDB01;Initial Catalog=LS_OSC_UOB;Persist Security Info=True;User ID=LS_OSC_DEV;Password=3L89gBvqqV8DymCL" />
        <add name="CFRs.DAL.DALSetting.CFRsConnectionString" connectionString="Data Source=SL-DEVFRDB01;Initial Catalog=CFRs;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" />
        <add name="CFRs.DAL.DALSetting.EBAO_GLS_ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.9.101.26)(PORT = 1521)))(CONNECT_DATA =(SID = glsncisdb)(SERVER = DEDICATED)));User ID=ebao_gls_prod_read;Password=password;" />
        <add name="CFRs.DAL.DALSetting.DMS_ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.9.105.175)(PORT = 1521)))(CONNECT_DATA =(SID = dmslife)(SERVER = DEDICATED)));User ID=dms_al;Password=passw0rd;" />
        <add name="CFRs.DAL.DALSetting.SMART_RP_ConnectionString" connectionString="Data Source=10.5.12.134;Initial Catalog=SmartLife;Persist Security Info=True;User ID=usrsmartlifereadonly;Password=Selife#2023" />
        <add name="CFRs.DAL.DALSetting.SAP_ConnectionString" connectionString="Data Source=10.9.105.199;Initial Catalog=201_SELIC;Persist Security Info=True;User ID=INFB1;Password=P@ssword4" />
    </connectionStrings>
</configuration>